body{
    background-color: #84fb58;
}



:root { --cor-principal: #141212;
    --cor-secundaria: #151616;
    --cor-destaque: #2b94fc;
}

body {
    font-family: "Arial", sans-serif;
  }

  h1,
h2,
h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}

footer a {
  color: var(--cor-principal);
}

footer a:hover {
  color: var(--cor-destaque);
}


.menu-acessibilidade{
    position: fixed; /*fixa na tela o botao */
    top:2rem;
    right:20px;
    z-index: 1000; /*Garante que o menu fique sobre os outros elementos.*/
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}

.a{
    background-color: rgb(92, 202, 92);
}

.a{
    text-align: center;
    
}